%nav.navbar.navbar-default.navbar-fixed-top
  %ul.nav.nav-pills
    %li=image_tag "pry.png", class: "header_logo" 
    %li=link_to "Leveraging Pry", root_path
    %li=link_to "Installation", "/installation"
    %li=link_to "Part 1", "/part1"
    %li=link_to "Part 2", "/part2"
    %li=link_to "Part 3", "/part3"
    %li=link_to "Part 4", "/part4"
    %li=link_to "About", "/about"
