.jumbotron
  %h1 About
  .row
    .col-md-6
      %p
        This tutorial:
        %a{href: "http://leveraging-pry.herokuapp.com/"} leveraging-pry.herokuapp.com
        %br
        Source:
        %a{href: "https://github.com/codeprimate/leveraging-pry"} codeprimate/leveraging-pry
      %h2
        %label Speaker:
        Patrick Morgan
      %h3
        patrick -at- patrick-morgan -dot- net
      %h3
        %a{href: "http://www.patrick-morgan.net"} www.patrick-morgan.net
      %h3
        %a{href: "https://www.github.com/codeprimate"} github.com/codeprimate
      %h3
        %label Senior Software Engineer:
        %a{href: "https://www.cabforward.com"} CabForward
        =image_tag(asset_path("cf_logo.png"), style: "height: 50px;")
      %h3
        %label Software Engineer 
        %a{href: "https://www.peopleadmin.com"} PeopleAdmin
        =image_tag(asset_path("pa_logo.png"), style: "height: 75px;")
    .col-md-6
      %h2
        %label Pry:
        %a{href: "http://pryrepl.org/"} pryrepl.org
      %h2
        %label pry-byebug:
        %a{href: "https://github.com/deivid-rodriguez/pry-byebug"} deivid-rodriguez/pry-byebug
      %h2
        %label pry-stack_explorer:
        %a{href: "https://github.com/pry/pry-stack_explorer"} pry/rep-stack_explorer
